@charset "UTF-8";

body {
	font-family: verdana, serif;
	font-size: 1.3em;
}

#main_wrapper {
	width: 700px;
	margin: auto;
	border: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.paymybuddy {
	width: 250px;
	text-align: center;
	font-size: 1.3em;
	color: white;
	background-color: #5CB85C;
	padding: 12px 0 16px 0;
	border-radius: 10px;
}

nav ul {
	list-style-type: none;
	display: flex;
}

nav li {
	margin-right: 15px;
}

input[type=submit] {
	font-family: verdana, serif;
	font-size: 1em;
	color: #181818;
	cursor: pointer;
	padding:0; 
	margin:0;
	border:0;
	background-color:transparent;
}

nav a {
	color: #181818;
	text-decoration: none;
}

nav a:hover {
	color: #760001;
}

.athis {
	color: #0275D8;
}