<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="../static/css/profilBank.css" th:href="@{/css/profilBank.css}">
        <title>Contact</title>
    </head>
	<body>
		<div id="main_wrapper" th:with="page='Contact'">		
			<header th:replace="~{header::header(${page})}"></header>
			<div th:replace="~{header::subheader(${page})}"></div>
			<section>
				<div class="sectiontitle">Send a message to admin</div>
				<form th:action="@{/user/home/contact}" method="post">
					<div>
						<label for="contact">Message</label><br>
						<textarea name="contact" id="contact" th:text="${param.contact}"></textarea>
						<br>
						<input class="buttongreen" type="submit" value="Send">
					</div>
				</form>
			</section>
		</div>
	</body>
</html>