<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="../static/css/error.css" th:href="@{/css/error.css}" />
        <title>Error page</title>
    </head>
    <body>
    	<div id="main_wrapper">			
	    	<header>
	    		<div class="paymybuddy">Pay My Buddy</div>
	    	</header>
	        <div class="error" th:text="${errorMessage}">INTERNAL SERVER ERROR</div>
	        <p><a th:href="@{/}"><button class="button" type="button">Back to Home Page</button></a></p>
    	</div>
    </body>
</html>