<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<!-- <link rel="stylesheet" type="text/css" href="/css/myFile.css" th:href="@{/css/myFile.css}" /> -->
        <title>Log In</title>
    </head>

    <body>
		<h1>Please Log In</h1>
		
		<div th:if="${param.error}">
			Wrong user or password.
		</div>
		
		<div th:if="${param.logout}">
			You have been logged out.
		</div>

		<form th:action="@{/login}" method="post">
			<p>
				<label for="username">Enter your email</label><br/>
				<input type="text" name="username" placeholder="Email" id="username"/><br/>
	
				<label for="password">Enter your password</label><br/>
				<input type="password" name="password" placeholder="Password" id="password"/><br/>
	
				<input type="submit" value="Log in" />
			</p>
		</form>
		
		<div>
		<a th:href="@{/register}"><button type="button">Register</button></a>
		</div>

	</body>
</html>