<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="/css/profileadd.css" th:href="@{/css/profileadd.css}" />
        <title>Profile AddBy</title>
    </head>
	<body>
		<div id="main_wrapper" th:with="page='Profile'">		
			<header th:replace="~{header::header(${page})}"></header>
			<div th:replace="~{header::subheader(${page})}"></div>
			<section>	
				<div class="sectiontitle">My added contacts</div>
				<table>
					<thead>
						<tr>
							<th>Email</th>
							<th>LastName</th>
							<th>FirstName</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${allAddBy.empty}">
							<td colspan="4">No one was added !</td>
						</tr>
						<tr th:each="registered, iterstat : ${allAddBy}" th:class="${iterstat.odd}?'odd'">
							<td th:text="${registered.email}">Email</td>
							<td th:text="${registered.lastName}">LastName</td>
							<td th:text="${registered.firstName}">FirstName</td>
							<td>
								<a th:href="@{/user/home/profile/addby(removeEmail=${registered.email})}">
									<button class="button" type="button">Remove</button>				
								</a>
							</td> 
						</tr>
					</tbody>
				</table>
				<div th:if="${pageInterval}" th:with="index = ${allAddBy.getNumber()}">
					<ul id="legendbuttons">
						<li th:unless="(${index}<=0)">
							<a th:href="@{/user/home/profile/addby(pageNumber=(${index}-1))}">&laquo;</a>
						</li>
						<li th:each="pageNum : ${pageInterval}">
							<a th:href="@{/user/home/profile/addby(pageNumber=(${pageNum}-1))}">
									<span th:class="${pageNum}eq(${index}+1)?'currentpage'" th:text="${pageNum}"></span>
							</a>
						</li>
						<li th:if="(${index}lt(${allAddBy.getTotalPages()}-1))">
							<a th:href="@{/user/home/profile/addby(pageNumber=(${index}+1))}">&raquo;</a>
						</li>
					</ul>
				</div>
			</section>
		</div>
	</body>
</html>