<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- En-tête de la page -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<!-- <link rel="stylesheet" type="text/css" href="../../css/myFile.css" th:href="@{/css/myFile.css}" /> -->
        <title>Home</title>
    </head>
	<body>
		<h1>Welcome !</h1>
		<br />
		 <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
		<div th:if="${user != null}"></div>
		<div th:text="${user}"></div>
	</body>
</html>