<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<!-- <link rel="stylesheet" type="text/css" href="/css/myFile.css" th:href="@{/css/myFile.css}" /> -->
        <title>Home</title>
    </head>
	<body>
		<header th:replcae="~{header::header(${'userhome'})}">
		</header>
		<form th:action="@{/logout}" method="post">
			<p>
				<input type="submit" value="Log Off"/>
			</p>
		</form>



		<h1><span th:text="${user.firstName}+' '+${user.lastName}+', '"></span>Welcome !</h1>		

		
		<div>
			<a th:href="@{/user/home/transfer}"><button type="button">Transfer</button></a>
			<a th:href="@{/user/home/profile}"><button type="button">Profile</button></a>
			<a th:href="@{/user/home/contact}"><button type="button">Contact</button></a>
		</div>
	</body>
</html>